<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.1" package="com.historymindlernen" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="20" android:targetSdkVersion="31" />
	<application android:label="HistoryMindLernen" android:theme="@style/MainTheme" android:icon="@mipmap/icon"></application>
</manifest>